* {
    
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
    float: left; 
    vertical-align: bottom;
    position: absolute;
}

body {
    margin: 0;
    padding: 0;
}